.toolbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
  gap:20px;
  margin: 10px 0;
}

.navigation {
  display: flex;
  align-items: center;
}

.label {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  margin: 0 10px;
  color: var(--color-accent-900);
  text-transform: capitalize;

}

.containerToday {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.today {
  padding: 8px 16px;
  border-radius: 15px;
  border: 1px solid var(--color-accent-500);
  background: var(--color-light-100);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: var(--color-accent-900);
  cursor: pointer;


}
.question {
  background: none;
  border: 1.5px solid var(--color-accent-600);
  border-radius: 50%;
  color:var(--color-accent-600);
  cursor: pointer;
  width: 24px;
  height: 24px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
