.container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 46px;
  padding: 7px 0;
  width: 100%;
  border-bottom: 1px solid var(--color-accent-100);
  font-weight: 400;
  text-align: left;
  color:var(--color-accent-900)
}

.container:last-child {
  border-bottom: none;
}

.text{
  font-size: 16px;
  line-height: 20px;
  text-align: start;
  width: 200px;
}

.data{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 42px;
}

.day{
  font-size: 32px;
  line-height: 32px;
  text-align: center;

}

.month{
  font-size: 12px;
  line-height: 16px;
}
.time{
  font-size: 12px;
  line-height: 16px;
  text-align: right;

}

.informationTeacherContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:2px;
}

.nameTeacher{
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  width: 150px;
}

.buttonsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:4px;
}

.primaryButton{
 border:  1px solid var(--color-accent-300);
  color: var(--color-accent-900);

}

.secondaryButton{
  border: none;
  background-color: var(--color-accent-600);
  color: var(--color-light-100);

}