.advertsContainer{
  background-color: var(--color-light-700);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
  padding: 16px;
}
.contentCard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap:4px;
  text-align: left;
  color: var(--color-accent-900);

  .title{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;


  }

  .content{
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;

  }

  .button{
    border: none;
    background-color: var(--color-info-100);
    color: var(--color-accent-900);
  }
}

.giftImg{
  width: 80px;
  height: 90px;
  position: absolute;
  right: 0;
  bottom:0


}
