.cardContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap:30px;
  background-color: var(--color-second-100);
  color: var(--color-accent-900);
  height: 100%;
}

.button{
  border: 1px dashed var(--color-accent-900);
  background-color: inherit;
  color: var(--color-accent-900);
}

.text{
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: var(--color-accent-900);

}