.button{
  background-color: var(--color-accent-500);
  color: var(--color-light-100);
  border:none;
  margin-bottom: 16px;
}

.logo{
  width: 80px;
  height: 80px;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 380px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 26px;
  font-size: 40px;
  font-weight: 400;
  line-height: 35px;
  text-align: left;
  color:var(--color-accent-900)

}

.link {
  font-size: 16px;
  color: var(--color-info-200);
  text-decoration: none;
  &:visited {
    color: var(--color-info-200);
  }
}

.link_black {
  color: var(--color-accent-900);
  text-decoration: none;
  &:visited {
    color: var(--color-accent-900);
  }
}

.linksContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:10px;
}

.registerLinkContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px;
  margin: 64px 0;

}
