.userContainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap:5px;
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;


}
.userPhoto{
  width: 32px;
  height: 32px;
  border-radius: 100px;
  border: 1px solid var(--color-accent-600);


}

.infoUser{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  width: 100%;
  color:var(--color-accent-900);
  text-align: left;
}

.name{
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;


}

.text{
  font-size: 10px;
  font-weight: 300;
  line-height: 12px;

}

.activeUser{
  background-color: var(--color-accent-100);
}

