.timer {
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
  gap: 5px;
}

.interval {
  display: flex;
  align-items: baseline;
  font-size: 36px;
  font-weight: 400;
  line-height: 35px;
  text-align: left;
  color: var(--color-accent-900)

}

.label {
  color: var(--color-accent-900);
  font-size: 15px;
  font-weight: 400;
  line-height: 20.25px;
  text-align: left;

}
