.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 15px 0;
  width: 100%;
  border-bottom: 1px solid var(--color-accent-100);
  font-weight: 400;
  text-align: left;
  color: var(--color-accent-900)
}

.container:last-child {
  border-bottom: none;
}

.text {
  font-size: 16px;
  line-height: 20px;
}

.count {
  width: 40px;
  height: 40px;
  background-color: var(--color-accent-100);
  border-radius: 50%;
  line-height: 26px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}