.cardContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  border: 1px solid var(--color-accent-600);
  height: 100%;
  max-width:708px;
  gap:16px;
}


.text{
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: var(--color-accent-900)


}

.iconContainer{
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background-color: var(--color-light-100);
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary{
  background-color: var(--color-accent-200);
}

.secondary{
  background-color: var(--color-info-100);
}

.itemsContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.title{
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color:var(--color-accent-900)

}

.button{
  background-color: var(--color-accent-300);
  border:none;
  color: var(--color-accent-900);
  width: 344px;
}

.buttonContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}