:root {
  // accent
  --color-accent-100: #EEEEFF;
  --color-accent-200: #E8CBFF;
  --color-accent-300: #DECFFF;
  --color-accent-500: #8D7FC7;
  --color-accent-600: #7362BC;
  --color-accent-700: #434B74;
  --color-accent-900: #323854;

  // second accent
  --color-second-100: #FFF1CB;


  // success
  --color-success-100: #D7F0D6;
  --color-success-300: #BBE7B9;
  --color-success-500: #22782B;


  // danger
  --color-danger-100: #E12828;
  --color-danger-300: #E84849;


  // info
  --color-info-100: #D8ECFF;
  --color-info-200: #008AFF;

  // light
  --color-light-100: #fff;
  --color-light-300: #ECECEC;
  --color-light-500: #F5F5F5;
  --color-light-700: #FDFDFF;


  // dark
  --color-dark-100: #79747F;
  --color-dark-300: #C8C5CD


}