:root {
  // accent
  --color-accent-100: #EEEEFF;
  --color-accent-200: #E8CBFF;
  --color-accent-300: #DECFFF;
  --color-accent-500: #8D7FC7;
  --color-accent-600: #7362BC;
  --color-accent-700: #434B74;
  --color-accent-900: #323854;

  // second accent
  --color-second-100: #FFF1CB;
  //--color-success-300: #22e584;
  //--color-success-500: #14cc70;
  //--color-success-700: #0f9954;
  //--color-success-900: #0a6638;

  // success
  --color-success-100: #D7F0D6;
  --color-success-300: #BBE7B9;
  --color-success-500: #22782B;
  //--color-success-700: #0f9954;
  //--color-success-900: #0a6638;

  // danger
  --color-danger-100: #E12828;
  //--color-danger-300: #f23d61;
  //--color-danger-500: #cc1439;
  //--color-danger-700: #990f2b;
  //--color-danger-900: #660a1d;

  // warning
  //--color-warning-100: #ffd073;
  //--color-warning-300: #e5ac39;
  //--color-warning-500: #d99000;
  //--color-warning-700: #960;
  //--color-warning-900: #640;

  // info
  --color-info-100: #D8ECFF;
  --color-info-200: #008AFF;

;
  //--color-info-300: #4c8dff;
  //--color-info-500: #397df6;
  //--color-info-700: #2f68cc;
  //--color-info-900: #234e99;

  // light
  --color-light-100: #fff;
  --color-light-300: #ECECEC;
  --color-light-500: #F5F5F5;
  //--color-light-700: #dcdae0;
  //--color-light-900: #c3c1c7;

  // dark
  --color-dark-100: #79747F ;
  //--color-dark-300:#323854;
  //--color-dark-700: #171717;
  //--color-dark-900: #000;
}