
.link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap:10px;
  text-decoration: none;
  padding: 14px 24px;
  width: 100%;
  border-radius: 0 30px 30px 0;

  .name {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: var(--color-accent-700);
  }

  &:hover {
    background-color: var(--color-accent-300);
  }

}

.active {
  font-weight: 700;
  text-align: left;
  color: var(--color-light-100);
  background-color: var(--color-accent-500);

  .name {
    color: var(--color-light-100);
  }
}


