.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap:15px;
}

.cardsContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  gap:20px;
  width: 100%;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap:20px;
  height: 100%;
  flex-grow: 1;
}

