.mainContainer {
  width: 250px;
  position: absolute;
  top: 70px;
  right: 0;
  z-index: 10;
  background-color: #fff;
}

.wrapper {
  width: 100%;
  border: 1px solid var(--color-accent-600);
  padding: 12px 12px 30px 30px;
  border-radius: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  position: relative;


}

.mainContainer::before {
  content: '';
  position: absolute;
  top: -10px;
  right: 44px;
  transform: translateX(-50%);
  border-width: 0 8px 10px;
  border-style: solid;
  border-color: transparent transparent var(--color-accent-600);
}

.crossIcon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.title {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  color: var(--color-accent-900)
}

.usersContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  width: 100%;
  gap: 10px;
  padding: 12px 18px 0 0;
}

.exitContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  padding: 16px 18px 12px 0;
}

.line {
  border: 1px solid var(--color-accent-100);
  width: 190px;
}

.link {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: var(--color-info-200);
  cursor: pointer;

}

.iconExit {
  cursor: pointer;
}