.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 12px 20px;
  height: 66px;
  position: relative;
  width: 1174px;
}

.logo img {
  height: 40px;
}

.nav {
  display: flex;
  align-items: center;
}

.name {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--color-accent-600)
}

.wrapper {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  margin: 0 5px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-accent-600);
  overflow: hidden;
}

.badge {
  position: absolute;
  top: -4px;
  right: -4px;
  background-color: var(--color-danger-300);
  color: var(--color-light-100);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 700;
  line-height: 8px;
  text-align: center;

}

.profile img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.title {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--color-accent-900)

}

.position {
  position: relative;
  overflow: inherit;
}

.photo {
  width: 40px;
  height: 40px;
}

.home {
  justify-content: space-between;

}