.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.button {
  background-color: var(--color-accent-300);
  color: var(--color-accent-900);
  border: none;
  width: 344px;
}