.customEvent {
  padding: 4px;
  border-radius: 2px;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  font-weight: 400;
  text-align: left;
  color: var(--color-accent-900);
  box-sizing: border-box;

  &:hover {
    border: 1px solid var(--color-accent-600);
  }
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  font-size: 12px;
  line-height: 16px;
}

.title {
  font-size: 10px;
  line-height: 8px;
}

.planned {
  background-color: var(--color-success-300);
  border: 1px solid var(--color-success-300);
}

.conducted {
  background-color: var(--color-light-100);
  border: 1px solid var(--color-light-300);
}

.cancellation {
  background-color: var(--color-light-100);
  text-decoration: line-through;
  border: 1px solid var(--color-light-300);
}

.skip {
  background-color: var(--color-light-100);
  border: 1px solid var(--color-danger-300);
}

.available {
  background-color: var(--color-accent-100);
  border: 1px solid var(--color-accent-300);
}

.busy {
  background-color: var(--color-light-500);
  border: 1px solid var(--color-dark-300);
}
