.container {
  background-color: var(--color-accent-100);
  margin-top: 24px;
  width: 266px;
  min-width: 266px;
  height: 840px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  padding: 20px 20px 20px 0;
  border-radius: 30px;


}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  margin: 15px 0 0;

}

.logo {
  width: 148px;
  height: 58px;
  object-fit: cover;
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

