.cardContainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap:20px;
  background-color: var(--color-accent-600);
  color: var(--color-light-100);
  flex-grow: 3;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.image{
  max-height: 485px;
  position: absolute;
  right:-198px;
  top:-106px;

}

.textContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: var(--color-light-100);
  text-align: left;
  gap:20px;
  max-width: 70%;

}

.mainText{
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  margin: 0;

}

.text {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  margin: 0;


}